@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --blue: linear-gradient(to left, #4481eb 0%, #04befe 100%);
  --text-grey: #707070;
  --text-black: #232b2b;
  --white: #fff;
  --red: #B83434;

  --font-family: 'Open Sans', sans-serif;;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: var(--text-black);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}

.bar {
  position: absolute;
  top: 1.6rem;
  left: 1rem;
  z-index: -5;
  width: 100%;
  height: 1rem;
  border-radius: 50px;
  background: var(--blue);
}

.☠-heading {
  color: var(--text-black);
  font-weight: 700;
  font-size: 2rem;
}

.☠-sidebar {
  background: var(--white);
  padding: 0 30px;
  padding-top: 30px;
  flex: 0 0 18%;
  min-height: calc(100vh - 92px);
  position: relative;
}

.sidebar-content {
  position: sticky;
  top: 30px;
  left: 0;
}

.☠-sidebar_button {
  text-decoration: none;
  color: var(--text-black);
  font-size: 18px;
}

.☠-sidebar_item {
  list-style: none;
}

.☠-sidebar_item > span {
  display: block;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--text-black);
}

.☠-sidebar_title {
  text-decoration: none;
  margin-bottom: 20px;
}

.☠-sidebar_title > a {
  font-size: 22px;
  color: var(--text-black);
}


.☠-sidebar_item.-☠-level-1 {
  margin-top: 10px;
  color: var(--text-black);
}

[aria-current="page"] {
  font-weight: 700;
}

main {
  flex: 0 0 78%;
  padding-top: 20px;
}

.content-block {
  margin-bottom: 28px;
  padding-right: 30px;
}

.content-block > p {
  margin-bottom: 12px;
}

.screenshot {
  width: 90%;
}

.screenshot > img {
  width: 100%;
}

.file-download {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.file-download > * {
  margin-bottom: 10px;
}

.file-download > i {
  font-size: 42px;
}

.file-download > a {
  transition: all 1s ease-in-out;
  display: block;
  padding: 10px 60px;
  border-radius: 50px;
  background: linear-gradient(to left, #43e97b 0%, #38f9d7 100%);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
}

.file-download > a:hover {
  background: linear-gradient(to left, #38f9d7 0%, #38f9d7 100%);
}

footer {
  background: var(--blue);
  padding: 20px 0;
  text-align: center;
  color: var(--white);
}