$color-palette: (
  'primary': red,
  'secondary': blue,
  'tertiary': green,
);

@each $color-key,
$color-value in $color-palette {
  .a-color-#{$color-key} {
    --a-color-100: #{lighten($color-value, 25%)};
    --a-color-200: #{lighten($color-value, 15%)};
    --a-color-300: #{lighten($color-value, 5%)};
    --a-color-500: #{$color-value};
    --a-color-700: #{darken($color-value, 5%)};
    --a-color-800: #{darken($color-value, 15%)};
    --a-color-900: #{darken($color-value, 25%)};
  }
}