---
eleventyNavigation:
  key: Colors
  order: 1
  parent: Atoms
layout: default
colors:
  - primary
  - secondary
  - accent
  - neutral
---
{%- macro colorSwatches(color) %}
{%- for swatch in [500, 100, 200, 300, 400, 500, 600, 700, 800, 900] %}
{%- set class = '-a-color' + (color | capitalize) + '-' + swatch %}
<div class="☠-m-colorSwatch">
  <div class="☠-m-colorSwatch_swatch {{ class }}">{{ swatch }}</div>
  <div class="☠-m-colorSwatch_head">{{ color | capitalize }} {{ swatch }}</div>
  <div class="☠-m-colorSwatch_body">
    {% highlight 'css' %}
    class="{{ class }}"
    {% endhighlight %}
  </div>
</div>
{%- endfor %}
{%- endmacro %}
<h1 class="☠-a-heading">{{ eleventyNavigation.key }}</h1>

{%- for color in colors %}
<h2 class="☠-a-heading">{{ color }}</h2>
<div class="☠-m-colorContainer">
{{ colorSwatches(color) }}
</div>
{%- endfor %}
