---
eleventyNavigation:
    key: Ervaring mailchimp
    order: 1
layout: default
title: Ervaring mailchimp
---
<div class="title">
    <h1 class="☠-heading">{{ title }}</h1>
    <div class="bar"></div>
</div>
<div class="content-block">
    <p>
        Mijn ervaring met mailchimp verliep heel vlot, het was makkelijk om alles terug te vinden en ook om de account aan te maken.
        Het was in het begin natuurlijk wel wat zoeken hoe alles werkte zoals bij elk nieuwe programma of platform dat je gebruikt.
        Het opstellen van de mail was ook niet al te moeilijk, je kon makkelijk extra componenten erin slepen en zo makkelijk je mail maken.
        Ik had wel in het begin eerst wat moeilijkheden met het uitvogelen van hoe de headings precies werkten maar dit probleem was snel van de baan.
        Ook de resultaten bekijken en verwerken ging makkelijk aangezien het makkelijk was om elk onderdeel apart te bekijken zoals kijken hoeveel keer de mail geopend was door een bepaald persoon. 
    </p>
</div>
