---
eleventyNavigation:
    key: Eindconclusie
    order: 5
layout: default
title: Eindconclusie
---
<div class="title">
    <h1 class="☠-heading">{{ title }}</h1>
    <div class="bar"></div>
</div>
<div class="content-block">
    <h2>Mailchimp</h2>
    <p>
        Deze opdracht was een leerrijke ervaring. Het was leuk om met mailchimp te leren werken, dit was in het begin wel even zoeken maar het was toch wel aangenaam om met te werken.
        Een jammer puntje vond ik wel dat qua bewerken van de stijl van de mails het heel miniem was. Ik vond het bijvoorbeeld jammer dat je er niet echt kon aanduiden hoeveel plaats er precies tussen een titel en blok kon steken.
        Een ander voorbeeld was dat je je kleuren wel kon kiezen maar mijn site heeft gradients en ik wou deze gebruiken, dit was niet mogelijk en dit zorgde er wel wat voor dat het moeilijker was om de juiste kleuren te kiezen.
        Over het algemeen zat mailchimp dus wel goed in elkaar. 
    </p>
</div>
<div class="content-block">
    <h2>Mailing 1 vs Mailing 2</h2>
    <p>
        Het opstellen van de mailings ging bij beide mails vrij vlot. Bij mail 1 had ik enkel de knop onderaan de afbeeldingen geplaatst terwijl ik bij mail 2 deze zowel boven als onder de afbeeldingen had geplaatst.
        Dit heeft zeker geholpen want de meesten verkozen om bij de 2de mail de bovenste knop te gebruiken in plaats van de onderste, hieruit kan ik besluiten dan mensen liever direct overgaan tot actie in plaats van eerst tot het einde van de mail te moeten scrollen.
        In mijn eerste mail had ik ook een algemener onderwerp genomen, dit gaf nog steeds respons maar ik had gezien dat anderen een meer persoonlijke aanpak gebruikten. Dit deden ze door de naam al in het onderwerp te vermelden waardoor je je eigenlijk meer aangesproken voelt en het gevoel dat je mening echt telt.
        Ik vond dit ook een betere manier en heb deze ook toegepast in mijn 2de mail en wat blijkt, ik had toch 6% meer mensen die de mail openden. Dit gaf mij toch het gevoel dat mijn 2de aanpak een betere was toch om de aanzet te geven om de mail te openen.
    </p>
    <p>
        Als ik bekijk hoeveel personen mijn eerste mail geopend hebben in vergelijking met mijn tweede mail dan zie ik toch dat de 2de meer geopend is dan de eerste. Dit kan komen vanwege mijn andere aanpak zoals hierboven vermeld. Deze persoonlijke aanpak heeft er dus voor gezorgd dat mensen binnen dezelfde tijd toch meer de mail opengedaan hebben. 
        De reden waarom er toch nog altijd veel mensen waren die de mail niet openden komt ook wel omdat er mails in de spam terechtkwamen, iets waar ik niet echt bij stil stond. Ook omdat er al veel studenten gestopt zijn ondertussen.
        Er is in de 2de mail wel minder geklikt op de knop dan in de eerste mail. Ik kan hier niet direct een bepaalde reden voor geven. Het kan zijn omdat de andere studenten meer bezig waren met ander werk en daarom snel hun mail geopend hebben en niet direct geklikt hebben op de button. 
    </p>
    <p>
        Als ik dan vergelijk wie het formulier heeft ingevuld met het aantal personen die geklikt dan zie ik wel dat toch de meesten het ingevuld hebben. Bij de eerste mail hadden 16 personen erop geklikt en 14 personen het ingevuld hebben. Bij de 2de mailing hebben minder mensen deze ingevuld maar heeft wel iedereen die geklikt heeft het ingevuld.
        Dit leken mij wel goede resultaten aangezien toch de meesten hun best deden om het formulier in te vullen.
    </p>
    <p>
        Over de resultaten van de formulieren kan ik niet veel zeggen, deze waren telkens positief op een paar opmerkingen na. Dit was zowel het geval bij mailing 1 en 2.
        Als je iets ontwerpt krijg je sowieso kritiek. Het is dan aan jou om te kijken wat je ermee doet. Ik persoonlijk heb niets met mijn opmerkingen gedaan omdat het eerder opmerkingen waren die hun mening waren en ik niet vond dat deze bij mijn design zouden passen.
    </p>
    <p>
        Er zijn wel nog 2 punten die ik wil aanhalen. Ik vond het jammer dat ik pas te laat te weten kwam dat er mails in de spam terecht kwamen, indien ik dit geweten had voor het versturen van mijn 2de mail dan had ik hier zeker rekening mee gehouden. Bij een volgende gelijkaardige opdracht zal ik hier zeker op letten. Een tweede punt is dat niet iedereen het formulier invulde, ik snap dat mensen nog ander werk te doen hebben maar
        de studenten wisten van deze opdracht dus ik had wel van iedereen een antwoord verwacht. 
    </p>
</div>
<div class="content-block">
    <h2>De opdracht</h2>
    <p>
        Het was wel eens leuk om te leren werken met mailchimp. Zulke mails heb ik nog nooit verstuurd dus het was leuk om eens te zien hoe dit er achter de schermen aan toe ging zoals het aantal keer dat de mail geopend werd.
        Ik heb wel het gevoel dat dit niet echt iets is dat ik later zal doen, ik heb meer het gevoel dat dit iets zal zijn voor een andere afdeling. Waar ik wel zal ingeschakeld worden is bij het opstellen van de mails in html en css.
        Het maken van webpagina's (wat een mail ook is) is hetgeen waarvoor ik aan het studeren ben en waardoor ik gepassioneerd ben, wat het maken van een mail met html en css wel leuker zou maken.
    </p>
    <p>
        Wat betreft het verwerken van de mails, dit zal later niet in mijn takenpakket zitten. Ik snap dat dit vak "business & communication" heet maar ik denk dat het misschien beter was van ons misschien een klein project te laten uitwerken.
        Hier kunnen we dan bijvoorbeeld mails gebruiken als communicatie of een chatprogramma en dan op een correcte manier met elkaar communiceren. Dit kan ook gepaard gaan met en reflectie over hoe het gegaan is en dan is er ook een soort van verwerking geweest.
        Dit zou ik persoonlijk dan een betere opdracht gevonden hebben. Dit is enkel een suggestie en hoeft dus niet per se te gebeuren. Zoals eerder gezegd was deze opdracht wel interessant.
    </p>
</div>