---
eleventyNavigation:
    key: Mail 2
    order: 3
layout: default
title: Mail 2
---
<div class="title">
    <h1 class="☠-heading">{{ title }}</h1>
    <div class="bar"></div>
</div>
<div class="content-block">
    <h2>Opstellen mail 2</h2>
    <p>
        We wouden deze keer bekijken hoe mensen de volgende stap in ons design vonden. Als eerste zullen we hen bedanken voor hun feedback van de vorige mail.
        Hierna zullen we ze weer aanzetten om te helpen bij het invullen van het formulier. We zullen hen de visual designs tonen hierdoor zullen 
        ze kunnen zien wat het uiteindelijke resultaat van de wireframe en style tile is. We zullen ook al een knop boven de afbeelding zetten zodat mensen makkelijker naar het formulier kunnen gaan.
        Onder de afbeelding van de visual design zullen we dan ook nog eens een knop zetten om naar het formulier te gaan. Onderaan de mail zal nog eens de wireframe en style tile staan, dit om de mensen nog eens de kans te geven hun geheugen op te frissen.
    </p>
    <p>
        In het formulier zullen we hen vragen wat ze van de visual design vinden. Daarna zullen we deze keer vragen of dit het resultaat was dat ze verwachten.
        Er zullen vertakkingen zijn waarbij de verschillende opties naar andere vragen leiden. De eerste optie leidt direct naar de laatste vraag, de 2de leidt naar een vraag wat ze anders zouden doen.
        De 3de leidt ook naar de laatste vraag en de 4de optie leidt naar de vraag 'wat waren u verwachtingen?'. De laatste vraag is gewoon voor algemene opmerking of suggesties te geven.
    </p>
</div>
<div class="content-block">
    <h2>Verwerking mail 2</h2>
    <div class="files">
        <div class="file-download">
            <i class="fas fa-file-excel"></i>
            <p>verwerking_mailing2_vansteendam_jarne.xlsx</p>
            <a href="{{ '/assets/files/verwerking_mailing2_vansteendam_jarne.xlsx' | url }}" download>Download file</a>
        </div>
        <div class="file-download">
            <i class="fas fa-file-excel"></i>
            <p>resultaten_formulier2_vansteendam_jarne.xlsx</p>
            <a href="{{ '/assets/files/resultaten_formulier2_vansteendam_jarne.xlsx' | url }}" download>Download file</a>
        </div>
    </div>
</div>
<div class="content-block">
    <h2>Conclusie mail 2</h2>
    <p>
        Alle mails zijn goed afgeleverd. De mails zijn door 57% van de mensen geopend wat meer dan de helft is. De reden waarom sommige mensen de mail niet geopend hebben is misschien omdat het in de spam terecht gekomen is.
        Er zijn ook mensen die gestopt zijn met de richting daardoor dat ook niet iedereen deze heeft geopend. Deze mail is door 48 mensen in België opengedaan en door 1 iemand in het buitenland (Verenigde Staten). Dit kan betekenen dat ze een VPN gebruiken.
        Deze keer heeft 60% van de personen op de button voor het formulier geklikt. De reden dat niet iedereen geklikt heeft kan zijn omdat ze met verschillende zaken tegelijk bezig waren en het vergeten zijn.
        Van de 2 buttons in de mail is het mij opgevallen dat 93.3% op de button boven de afbeelding drukte en 6.7% op de button onder de afbeelding, wat wil zeggen dat het beter is de button erboven te plaatsen dan eronder.
        Van degenen die geklikt hebben, heeft wel iedereen het formulier ingevuld.
    </p>
    <p>
        Het formulier was deze keer makkelijker om in te vullen, de gemiddelde tijd was 2 minuten en 11 seconden. De laagste tijd was 20 seconden en de hoogste tijd 11 minuten en 8 seconden. Aangezien deze tijd veel hoger is dan de gemiddelde tijd kan het zijn dat de persoon met meerdere zaken tegelijk bezig was.
        De resultaten waren weer zeer positief, er was slechts 1 opmerking. Dit betekent dat we verder kunnen doen met het project zoals we bezig zijn.
    </p>
</div>
