---
eleventyNavigation:
    key: Mail 1
    order: 2
layout: default
title: Mail 1
---
<div class="title">
    <h1 class="☠-heading">{{ title }}</h1>
    <div class="bar"></div>
</div>
<div class="content-block">
    <h2>Opstellen mail 1</h2>
    <p>
        Hetgeen ik wil bereiken met mijn mail is kijken of mensen mijn huidige stand van zaken wel goed vonden.
        Ik zal ze eerst een beetje warm maken om het formulier in te vullen. Hierna zal ik hen bepaalde zaken van het design proces tonen.
        Daarbij zal ik eerst de sitemap tonen omdat dit 1 van de eerste zaken is die gemaakt is. Ik zal ook mijn style tile tonen en mijn wireframe.
        Ik heb voor deze zaken gekozen omdat een sitemap de architectuur van de website toont en dit handig kan zijn omdat mensen zoal weten hoe de navigatie zal werken.
        De style tile is omdat mensen zoals goed kunnen zien welke kleuren en typografie de website zal hebben. 
        De wireframe is omdat de mensen zo kunnen zien hoe de website er al ongeveer zal uitzien daarmee bedoel ik eerder waar alles zal staan, dit zonder opmaak.
        Mensen kunnen hun mening via het formulier dat gelinkt is onderaan de mail. Het formulier geeft hen de mogelijkheid om via een rating hun mening te geven.
        Ze kunnen hierbij ook hun mening geven via een opmerking en suggesties vak. Dit omdat het dan soms duidelijker is waarom ze een bepaalde score geven.

    </p>
</div>
<div class="content-block">
    <h2>Verwerking mail 1</h2>
    <div class="files">
        <div class="file-download">
            <i class="fas fa-file-excel"></i>
            <p>verwerking_mailing1_vansteendam_jarne.xlsx</p>
            <a href="{{ '/assets/files/verwerking_mailing1_vansteendam_jarne.xlsx' | url }}" download>Download file</a>
        </div>
        <div class="file-download">
            <i class="fas fa-file-excel"></i>
            <p>resultaten_formulier_vansteendam_jarne.xlsx</p>
            <a href="{{ '/assets/files/resultaten_formulier_vansteendam_jarne.xlsx' | url }}" download>Download file</a>
        </div>
    </div>
</div>
<div class="content-block">
    <h2>Conclusie mail 1</h2>
    <p>
        Ik heb opgemerkt dat bij mijn mail er slechts 51% deze heeft geopend, dit kan zijn omdat er nog veel email adressen inzitten van mensen die gestopt zijn. 
        Alsook dat het bij sommige misschien in de spam folder terechtgekomen is. Wat mij wel opviel was dat 89% van degene die de mail openden op de link naar het formulier hebben geklikt,
        wat wel betekent dat de meesten toch de link naar het formulier gevonden hebben. Misschien kan ik deze knop bij de tweede mailing misschien op 2 plaatsen zetten zodat ook degene die niet klikten deze ook vinden.
        Van de 89% die geklikt heeft, heeft 88% het formulier ingevuld. Voor degene die het niet invulden kan dit liggen aan het feit dat ze misschien met andere zaken bezig waren en het zo uit het oog verloren zijn.
        Het kan ook betekenen dat het formulier misschien iets te lang was aangezien de gemiddelde invul tijd 4 minuten en 53 seconden was. 
        Er stonden onderaan ook links voor social media en site van de school maar deze zijn niet geklikt dus deze zullen in de volgende mail niet meer aanwezig zijn.
    </p>
    <p>
        Wat de resultaten van het formulier betreft, deze waren volledig positief, er waren weinig tot geen opmerkingen. Ik kan in het volgende formulier misschien wel beter zorgen dat de vakken voor opmerkingen niet vereist zijn.
        Hierdoor is het makkelijker om opmerkingen eruit te halen die echte feedback geven om iets te verbeteren.
    </p>
</div>
