---
eleventyNavigation:
    key: Screenshots
    order: 0
layout: default
title: Screenshots
---
<div class="title">
    <h1 class="☠-heading">{{ title }}</h1>
    <div class="bar"></div>
</div>
<div class="content-block">
    <h2>Screenshot van account voor eerste mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-account-before.jpg' | url }}" alt="">
    </div>
</div>
<div class="content-block">
    <h2>Screenshot van eerste mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-mail.jpg' | url }}" alt="">
    </div>
</div>
<div class="content-block">
    <h2>Screenshot van account na eerste mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-account-after-first.jpg' | url }}" alt="">
    </div>
</div>
<div class="content-block">
    <h2>Screenshot van account voor tweede mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-account-before-second-mail.jpg' | url }}" alt="">
    </div>
</div>
<div class="content-block">
    <h2>Screenshot van tweede mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-mail-2.jpg' | url }}" alt="">
    </div>
</div>
<div class="content-block">
    <h2>Screenshot van account na tweede mailing</h2>
    <div class="screenshot">
        <img src="{{ '/assets/images/screenshot-account-after-second.jpg' | url }}" alt="">
    </div>
</div>
