@use 'sass:color';
@use 'sass:map';

$color-scheme: (
  'primary': red,
  'secondary': blue,
  'accent': green,
  'neutral': gray,
);

$fonts: (
  'heading': '"Long Cang", serif',
  'body'   : '"Long Cang", serif',
  'code'   : 'monospace',
);

$swatches: ();
@each $name, $value in $color-scheme {
  $colors: (
      '#{$name}-100': #{color.scale($value, $lightness: 50%)},
      '#{$name}-200': #{color.scale($value, $lightness: 36%)},
      '#{$name}-300': #{color.scale($value, $lightness: 24%)},
      '#{$name}-400': #{color.scale($value, $lightness: 12%)},
      '#{$name}-500': #{$value},
      '#{$name}-600': #{color.scale($value, $lightness: -12%)},
      '#{$name}-700': #{color.scale($value, $lightness: -24%)},
      '#{$name}-800': #{color.scale($value, $lightness: -36%)},
      '#{$name}-900': #{color.scale($value, $lightness: -50%)},
  );
  $swatches: map.merge($swatches, $colors);
}