@use 'sass:color';
@use 'sass:map';

$color-scheme: (
  'primary': 'red',
  'secondary': 'blue',
  'accent': 'green',
  'neutral': 'gray',
);

$swatches: ();
@each $name, $value in $color-scheme {
  $colors: (
      '#{$name}-100': color.scale($value, $lightness: 30%),
      '#{$name}-500': #{$value},
      '#{$name}-900': color.scale($value, $lightness: -30%,
  );
  $swatches: map.merge($swatches, $colors);
}