@use 'sass:color';
@use 'sass:map';

$color-palette: (
  // https://flatuicolors.com/palette/nl
  rgb(255, 195, 18),  //  1
  rgb(247, 159, 31),  //  2
  rgb(238, 90, 36),   //  3
  rgb(234, 32, 39),   //  4

  rgb(196, 229, 56),  //  5
  rgb(163, 203, 56),  //  6
  rgb(0, 148, 50),    //  7
  rgb(0, 98, 102),    //  8

  rgb(18, 203, 196),  //  9
  rgb(18, 137, 167),  // 10
  rgb(6, 82, 221),    // 11
  rgb(27, 20, 100),   // 12

  rgb(253, 167, 223), // 13
  rgb(217, 128, 250), // 14
  rgb(153, 128, 250), // 15
  rgb(87, 88, 187),   // 16

  rgb(237, 76, 103),  // 17
  rgb(181, 52, 113),  // 18
  rgb(131, 52, 113),  // 19
  rgb(111, 30, 81),   // 20

  rgb(145, 145, 145), // 21
);

$color-scheme: (
  'primary': red,
  'secondary': blue,
  'accent': green,
  'neutral': gray,
);

$fonts: (
  'heading': '"Long Cang", serif',
  'body'   : '"Long Cang", serif',
  'code'   : 'monospace',
);

$swatches: ();
@each $name, $value in $color-scheme {
  $colors: (
      '#{$name}-100': #{color.scale($value, $lightness: 50%)},
      '#{$name}-200': #{color.scale($value, $lightness: 36%)},
      '#{$name}-300': #{color.scale($value, $lightness: 24%)},
      '#{$name}-400': #{color.scale($value, $lightness: 12%)},
      '#{$name}-500': #{$value},
      '#{$name}-600': #{color.scale($value, $lightness: -12%)},
      '#{$name}-700': #{color.scale($value, $lightness: -24%)},
      '#{$name}-800': #{color.scale($value, $lightness: -36%)},
      '#{$name}-900': #{color.scale($value, $lightness: -50%)},
  );
  $swatches: map.merge($swatches, $colors);
}