$green-primary: #81D44D;
$back-grey: #EFEFEF;
$text-grey: #707070;
$text-black: #2B3028;
$white: #fff;
$red: #B83434;

.a-colors {
  display: flex;
  flex-wrap: wrap;
}

.a-color {
  flex: 0 0 25%;
  margin-right: 5%;
  margin-bottom: 5%;
  &_example {
    width: 100px;
    height: 100px;
    border: 1px solid $text-black;
    border-radius: 17px;

    &-1 {
      background: $green-primary;
    }

    &-2 {
      background: $red;
    }

    &-3 {
      background: $text-black;
    }

    &-4 {
      background: $text-grey;
    }

    &-5 {
      background: $back-grey;
    }

    &-6 {
      background: $white;
    }
  }

  p {
    margin-top: 10px;
    margin-left: 17px;
  }
}
