.a-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &_input {
    font-size: 15px;
  }

  &_regular {
    font-size: 15px;
    font-weight: 700;
  }
}

.a-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  input, textarea {
    border: 1px solid $text-black;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: $back-grey;
    opacity: 0.37;
    font-size: 15px;
  }

  input {
    width: 90%;
    border-radius: 50px;


    &[type="checkbox"] {
      width: auto;
      background: $white;
    }
  }

  textarea {
    border-radius: 20px;

    width: 90.1%;
    height: 100px;
  }
}