@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism-tomorrow.min.css");
.a-logo img {
  width: 90%;
}

.a-colors {
  display: flex;
  flex-wrap: wrap;
}

.a-color {
  flex: 0 0 25%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.a-color_example {
  width: 100px;
  height: 100px;
  border: 1px solid #2B3028;
  border-radius: 17px;
}
.a-color_example-1 {
  background: #81D44D;
}
.a-color_example-2 {
  background: #B83434;
}
.a-color_example-3 {
  background: #2B3028;
}
.a-color_example-4 {
  background: #707070;
}
.a-color_example-5 {
  background: #EFEFEF;
}
.a-color_example-6 {
  background: #fff;
}
.a-color p {
  margin-top: 10px;
  margin-left: 17px;
}

.a-typography {
  color: #2B3028;
}
.a-typography_block {
  margin-bottom: 20px;
}
.a-typography_title {
  font-weight: 700;
  font-size: 40px;
}
.a-typography_subtitle, .a-typography_nav {
  font-weight: 700;
  font-size: 24px;
}
.a-typography_label, .a-typography_text, .a-typography_button {
  font-weight: 700;
  font-size: 16px;
}
.a-typography_text, .a-typography_button {
  color: #707070;
}

.a-icons {
  display: flex;
  flex-wrap: wrap;
}

.a-icons > i {
  flex: 0 0 25%;
  font-size: 45px;
  margin-bottom: 40px;
}

.a-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.a-label_input {
  font-size: 15px;
}
.a-label_regular {
  font-size: 15px;
  font-weight: 700;
}

.a-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.a-input input, .a-input textarea {
  border: 1px solid #2B3028;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #EFEFEF;
  opacity: 0.37;
  font-size: 15px;
}
.a-input input {
  width: 90%;
  border-radius: 50px;
}
.a-input input[type=checkbox] {
  width: auto;
  background: #fff;
}
.a-input textarea {
  border-radius: 20px;
  width: 90.1%;
  height: 100px;
}

.m-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 338px;
  border-bottom: 1px solid #2B3028;
  padding: 10px 0;
  margin-bottom: 10px;
}
.m-card_header {
  width: 59px;
  height: 59px;
  overflow: hidden;
  border-radius: 50px;
}
.m-card_header img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.m-card_body {
  flex: 0 0 55%;
}
.m-card_body-title {
  font-size: 22px;
  font-weight: bold;
}
.m-card_body-text {
  margin-top: 5px;
  font-size: 15px;
  color: #707070;
}
.m-card_footer {
  flex: 0 0 10%;
}
.m-card_footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background: #81D44D;
  padding: 15px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
}
.m-card_footer .alt {
  background: #B83434;
}

.m-chatbox_message {
  border-radius: 20px;
  padding: 10px 15px;
  width: 50%;
  color: #707070;
}
.m-chatbox_message span {
  font-weight: 900;
}
.m-chatbox_message p:first-of-type {
  margin-top: 5px;
}
.m-chatbox_question {
  border: 1px solid #EBE75073;
  background-color: #EBE75073;
}
.m-chatbox_reply {
  border: 1px solid #81d44d30;
  background-color: #81d44d30;
  margin-left: 30px;
  margin-top: 20px;
}

.m-link_main {
  margin-bottom: 30px;
}
.m-link_link {
  display: flex;
}
.m-link_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.m-link_button i {
  font-size: 20px;
  margin-bottom: 5px;
}
.m-link_button span {
  font-size: 15px;
}
.m-link_active {
  border-bottom: 3px solid #81D44D;
}

.m-sublink_link {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #81D44D;
}
.m-sublink_button {
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #81D44D;
}

.m-nav {
  margin-top: 20px;
  display: flex;
  font-size: 20px;
  color: #81D44D;
}
.m-nav_button {
  display: flex;
}
.m-nav_left {
  padding: 5px 10px;
  border: 1px solid #81D44D;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.m-nav_right {
  padding: 5px 10px;
  border: 1px solid #81D44D;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.active {
  background: #81D44D;
  color: #fff;
}

.m-forms_form {
  display: flex;
  align-items: center;
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}
.m-forms_box {
  border: 1px solid #2B3028;
  padding: 2px 2px;
  margin-right: 10px;
  border-radius: 6px;
  width: 15px;
  height: 15px;
}
.m-forms_title {
  font-size: 15px;
  font-weight: 700;
}
.m-forms_field {
  width: 20%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border: 1px solid #2B3028;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #EFEFEF;
  opacity: 0.37;
  border-radius: 20px;
}
.m-forms_field i {
  font-size: 1.5rem;
}

.m-buttons div {
  display: flex;
  margin-top: 30px;
}
.m-buttons div .m-button {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
}
.m-buttons div .m-button_add {
  background-color: #81D44D;
  font-size: 2rem;
  width: 60px;
  height: 60px;
}
.m-buttons div .m-button_chat {
  background-color: #707070;
}
.m-buttons div .m-button_delete {
  background-color: #B83434;
}
.m-buttons div .m-button_reserve {
  background-color: #81D44D;
  width: 200px;
}
.m-buttons div .m-button_disabled {
  background-color: #707070;
  opacity: 0.37;
  width: 200px;
}
.m-buttons div .m-button_logout {
  border: 1px solid #81D44D;
  color: #81D44D;
  width: 100px;
  background-color: #fff;
  font-size: 17px;
}
.m-buttons div .m-button_filter {
  color: #fff;
  font-weight: 400;
  width: 100px;
  background-color: #81D44D;
  font-size: 17px;
}
.m-buttons div .m-button_filter i {
  margin-right: 5px;
}

.o-navigation {
  margin-bottom: 30px;
}
.o-navigation_link {
  display: flex;
}
.o-navigation_button {
  border: 1px solid #81D44D;
  color: #81D44D;
  padding: 20px;
  font-weight: bold;
}
.o-navigation_main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #EFEFEF;
  width: 300px;
  height: 60px;
  margin-top: 30px;
}
.o-navigation_search, .o-navigation_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-navigation_search i, .o-navigation_profile i {
  font-size: 20px;
  margin-bottom: 5px;
}
.o-navigation_search span, .o-navigation_profile span {
  font-size: 15px;
}
.o-navigation_add {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  border: 0;
  color: #fff;
  font-weight: bold;
  background-color: #81D44D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.o-navigation_add i {
  font-size: 30px;
}

.active {
  background-color: #81D44D;
  color: #fff;
}

.o-chat_header {
  width: 30%;
  display: flex;
  justify-content: start;
  background-color: #81D44D;
  padding: 20px;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}
.o-chat_header span {
  margin-left: 130px;
}
.o-chat-body {
  width: 90%;
  margin: 0 auto;
}

.m-chatbox {
  margin-top: 20px;
}
.m-chatbox_answer {
  position: relative;
  width: 26%;
}
.m-chatbox_inputField {
  border: 1px solid #2B3028;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #EFEFEF;
  opacity: 0.37;
  width: 100%;
}
.m-chatbox i {
  color: #fff;
  background-color: #81D44D;
  border: 1px solid #81D44D;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 45px;
  right: -50px;
}

/*# sourceMappingURL=main.css.map */
