@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');

:root {
  --☠-c-primary: rgb(162, 0, 255);
}

.☠-heading {
  color: var(--☠-c-primary);
  font-family: 'Long Cang', cursive;
  font-size: 3rem;
}

.☠-sidebar {}

.☠-sidebar_button {}

.☠-sidebar_item {}

.☠-sidebar_list {}

.☠-sidebar_title {}

.☠-sidebar_title.-☠-level-0 {}

.☠-sidebar_title.-☠-level-1 {}