<nav class="☠-o-sidebar">
    <h1 class="☠-o-sidebar_title">
        <a class="☠-o-sidebar_button" href="{{ '/' | url }}">{{ site.title }}</a>
    </h1>
    <ul class="☠-o-sidebar_list -☠-level-0">
{%- for navPage in collections.all | eleventyNavigation %}
        <li class="☠-o-sidebar_item -☠-level-0">
    {%- if navPage.url %}
            <a class="☠-o-sidebar_button" href="{{ navPage.url | url }}"
                {%- if page.url == navPage.url %} aria-current="page"
                {%- endif %}>{{ navPage.key }}</a>
    {%- else %}
            <span class="☠-o-sidebar_button">{{ navPage.key }}</span>
    {%- endif %}
    {%- if navPage.children %}
            <ul class="☠-o-sidebar_list -☠-level-1">
        {%- for navChildPage in navPage.children %}
                <li class="☠-o-sidebar_item -☠-level-1">
                    <a class="☠-o-sidebar_button" href="{{ navChildPage.url | url }}"
                        {%- if navChildPage.url == page.url %} aria-current="page"
                        {%- endif %}>{{ navChildPage.key }}</a>
                </li>
        {%- endfor %}
            </ul>
    {%- endif %}
        </li>
{%- endfor %}
    </ul>
</nav>