.m-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 338px;
  border-bottom: 1px solid $text-black;
  padding: 10px 0;
  margin-bottom: 10px;

  &_header {
    width: 59px;
    height: 59px;
    overflow: hidden;
    border-radius: 50px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &_body {
    flex: 0 0 55%;

    &-title {
      font-size: 22px;
      font-weight: bold;
    }

    &-text {
      margin-top: 5px;
      font-size: 15px;
      color: $text-grey;
    }

  }
  &_footer {
    flex: 0 0 10%;

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      background: $green-primary;
      padding: 15px;
      border-radius: 50px;
      font-size: 18px;
      color: $white;
    }

    .alt {
      background: $red;
    }
  }
}