.m-chatbox{
    &_message{
        
        border-radius: 20px;
        padding: 10px 15px;
        width:50%;
        color:$text-grey;

        span{
            font-weight:900;
        }
        p:first-of-type{
            margin-top:5px;
        }
    }
    &_question{
        border:1px solid #EBE75073;
        background-color: #EBE75073;
    }
    &_reply{
        border:1px solid #81d44d30;
        background-color: #81d44d30;
        margin-left:30px;
        margin-top:20px;
    }

}