@use '../1-abstracts/functions' as f
@use '../1-abstracts/variables' as v

:root
  @each $name, $swatches in v.$color-swatches
    $color-name: f.capitalize($name)
    @each $swatch, $value in $swatches
      --☠-a-color#{$color-name}-#{$swatch}: #{$value}

@each $name, $swatches in v.$color-swatches
  $color-name: f.capitalize($name)
  .-☠-a-color#{$color-name}
    @each $swatch, $value in $swatches
      --☠-a-color-#{$swatch}: #{$value}

@each $name, $swatches in v.$color-swatches
  $color-name: f.capitalize($name)
  @each $swatch, $value in $swatches
    .-☠-a-color#{$color-name}-#{$swatch}
      --☠-a-color: #{$value}